body {
  font-family: monospace;
  font-size: 30px;
  background-color: rgb(34, 40, 49);
  color: rgb(199, 199, 199);
  text-align: center;
}

.links {
  color: rgb(199, 199, 199);
}
.nav-links:hover,
.links:hover {
  color: rgb(165, 225, 137);
  /* color: rgb(165, 225, 137);
  color: rgb(255, 237, 148);
  color: rgb(110, 193, 255); */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  color: rgb(199, 199, 199);
  padding: 0 50px;
}

.gif-image {
  max-width: 150px;
  border-radius: 90px;
}

.gif-image1 {
  border-radius: 300px;
  max-width: 200px;
}