body,
input {
  background-color: rgb(44, 44, 44);
  color: rgb(192, 192, 192);
  font-family: monospace;
  font-size: large;
  text-align: center;
}

button {
  font-family: monospace;
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 10px;
  border: solid;
  border-color: rgb(151, 151, 151);
  cursor: pointer;
  background-color: rgb(21, 52, 72);
  color: white;
  transition: background-color 0.25s;
}

button:hover {
  background-color: rgb(17, 41, 58);
}

#textBox {
  border-style: solid;
  background-color: rgb(44, 44, 44);
  border-color: rgb(151, 151, 151);
  border-radius: 10px;
  color: white;
  margin-bottom: 15px;
  padding: 10px 10px;
  font-size: 15px;
}
#textBox:focus {
  outline: none;
}

#toFahrenheit,
#toCelsius {
  margin-bottom: 15px;
}
label {
  font-size: 16px;
  cursor: pointer;
}

form {
  box-shadow: 0px 0px 150px rgb(151, 151, 151);
  align-self: center;
  width: min-content;
  min-width: 400px;
  padding: 10px 30px;
  border-radius: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

p {
  font-weight: bold;
}
